<script>
	import "../app.css";
</script>

<nav class="navbar bg-base-200">
	<div class="container mx-auto">
		<div class="flex-1">
			<a href="/" class="text-lg font-bold">WireGuard WebUI</a>
		</div>
		<div class="gap-2 inline-flex flex-none">
			<a href="/peer/new" class="btn btn-primary">Add Peer</a>
			<div class="dropdown dropdown-end">
				<div tabindex="0" role="button" class="btn btn-ghost">Hi John!</div>
				<ul
					class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-200 rounded-box w-52"
				>
					<li>
						<a href="/settings">Settings</a>
					</li>
					<li>
						<a href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<main class="content-center container mx-auto mb-4">
	<slot />
</main>

<footer class="footer p-4 bg-neutral text-neutral-content inline-flex">
	<div class="flex-1">
		WireGuard WebUI is a simple web interface to manage your WireGuard VPN server.
	</div>
	<div class="flex-none">
		<p>
			Made with ❤️ by
			<a href="https://gitlab.com/theotechnicguy/wireguard-webui" class="link">Theo Technicguy</a> using
			Svelte, Tailwind, and DaisyUI.
		</p>
	</div>
</footer>
