<script>
	import Peer from "./Peer.svelte";
	export let data;
</script>

<h1 class="text-2xl font-bold text-center m-4">Your WireGuard Peers</h1>

<div class="grid grid-cols-3 gap-6">
	{#each data.peers as peer}
		<Peer {...peer} />
	{/each}
</div>
