<script>
	import {
		IconShieldLock,
		IconClockHeart,
		IconActivity,
		IconX,
		IconCheck,
		IconZzz,
	} from "@tabler/icons-svelte";

	const SCALER = 1000000000;

	/**
	 * The Name of the peer
	 * @type {string}
	 */
	export let Name;

	/**
	 * The Disabled status of the peer
	 * Set to true, the peer is disabled
	 * Set to false, the peer is enabled
	 * @type {boolean}
	 */
	export let Disabled;

	/**
	 * The PreShared key of the peer
	 * @type {string}
	 * TODO: Change to boolean. This is insecure
	 * as it exposes the key in the unnecessarily.
	 */
	export let PreSharedKey;

	/**
	 * The current endpoint
	 * @type {Object<string, any> | null}
	 */
	export let CurrentEndpoint;

	/**
	 * The configured endpoint
	 * @type {Object<string, any> | null}
	 */
	export let ConfiguredEndpoint;

	/**
	 * The allowed addresses
	 * @type {Array<Object<string, any>>}
	 */
	export let AllowedAddresses;

	/**
	 * @type {Object<string, number>}
	 */
	export let Statistics;

	function isActive() {
		return (
			Statistics &&
			Statistics.LastHandshake &&
			Statistics.LastHandshake > 0 &&
			Statistics.LastHandshake < 180 * SCALER
		);
	}

	/**
	 * Convert the last handshake from nanoseconds to a relative value.
	 * @returns {string} the relative value of the last handshake
	 */
	function relativeLastHandshake() {
		/**
		 * Return value wrapper.
		 *
		 * Returns a string with the round relative value and the unit.
		 * @param {number} v the scaler value
		 * @param {string} s the unit
		 * @returns string
		 */
		const wrp = (v, s) => {
			return Math.round(Statistics.LastHandshake / v / SCALER) + " " + s;
		};

		if (Statistics.LastHandshake <= 60 * SCALER) {
			return wrp(1, "seconds");
		}

		if (Statistics.LastHandshake <= 3600 * SCALER) {
			return wrp(60, "minutes");
		}

		if (Statistics.LastHandshake <= 86400 * SCALER) {
			return wrp(3600, "hours");
		}

		return wrp(86400, "days");
	}
</script>

<div class="card bg-base-200 shadow-xl max-w-md">
	<div class="card-body">
		<div class="card-title justify-center mb-2">{Name}</div>
		<div class="justify-center overflow-x-hidden w-full">
			{#if Disabled}
				<div class="badge badge-error gap-2"><IconX size="12" /> Disabled</div>
			{:else if isActive()}
				<div class="badge badge-success gap-2"><IconCheck size="12" /> Active</div>
			{:else}
				<div class="badge badge-neutal gap-2"><IconZzz size="12" /> Inactive</div>
			{/if}
			{#if PreSharedKey}
				<div class="badge badge-info gap-2"><IconShieldLock size="12" /> Preshared Key</div>
			{/if}
		</div>
		<div class="overflow-x-auto">
			<table class="table w-full">
				<tr>
					<td title="Last handshake"><IconClockHeart /></td>
					<td>
						{relativeLastHandshake()} ago
					</td>
				</tr>
				<tr>
					<td title="Your device status"><IconActivity /></td>
					<td class="inline-flex gap-2">
						<input type="checkbox" class="toggle toggle-error" bind:checked={Disabled} />
					</td>
				</tr>
			</table>
		</div>
		<div>
			<div class="font-semibold">IP Allocation</div>
			<div class="gap-2">
				<div class="mb-2">
					{#if CurrentEndpoint && CurrentEndpoint.Address}
						<div class="size-sm">
							Last seen at
							<span class="badge badge-neutral rounded-sm text-sm px-1">
								{CurrentEndpoint.Address}:{CurrentEndpoint.Port}
							</span>
						</div>
					{:else}
						<div class="mb-2">No last known location</div>
					{/if}
				</div>
				<div>
					{#if ConfiguredEndpoint && ConfiguredEndpoint.Address}
						<div class="size-sm">
							Configured for
							<span class="badge badge-neutral rounded-sm text-sm px-1">
								{ConfiguredEndpoint.Address}:{ConfiguredEndpoint.Port}
							</span>
						</div>
					{/if}
				</div>
			</div>
		</div>
		<div>
			<div class="font-semibold">Allowed IP Addresses</div>
			<div class="columns-auto gap-2">
				{#each AllowedAddresses as ip}
					<div class="badge badge-neutral rounded-sm mr-1 px-1">{ip.IP}/{ip.CIDR}</div>
				{/each}
			</div>
		</div>
		<!-- <div class="card-actions m-4">
      <button class="btn btn-sm btn-warning">Edit</button>
      <button class="btn btn-sm btn-error">Delete</button>
    </div> -->
	</div>
</div>
