@tailwind base;
@tailwind components;
@tailwind utilities;

.test-blue {
	@apply border-2 border-blue-500;
}

.test-red {
	@apply border-2 border-red-500;
}

.test-green {
	@apply border-2 border-green-500;
}

.test-yellow {
	@apply border-2 border-yellow-500;
}
